<!DOCTYPE html>
<html lang="en-US">

<head>
  {{ partial "head" . }}
</head>

<body id="fullsingle" class="page-template-page-fullsingle-split">

  <div class="fs-split">

    <!-- Image -->
    {{ if .Site.Params.visual.image.enable }}
    
      <div class="split-image">

      </div>

    <!-- Video -->
    {{ else if .Site.Params.visual.video.enable }}

      {{ partial "video" . }}

    {{ end }}

    <!-- Content Side -->
    <div class="split-content">
      <div class="split-content-vertically-center">

        <!-- Intro -->
        {{ partial "intro" . }}

        <!-- Bio -->
        {{ partial "bio" . }}

        <!-- Links -->
        {{ partial "links" . }}

        <!-- Footer -->
        {{ partial "footer" . }}

      </div>
    </div>

  </div>
  
  <!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5bf158cd40105007f3788450/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->

</body>
</html>
